[Desktop Entry]
Name=Hot-babe
Comment=System load monitor
Comment[pl]=Monitor obciążenia systemu
Icon=hot-babe-32
Exec=hot-babe
Terminal=false
Type=Application
Categories=GTK;System;Monitor;
# vi: encoding=utf-8
